<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--应用名称，用于计算依赖关系-->
    <dubbo:application name="lks-consumer"/>

    <!--注册中心地址-->
    <dubbo:registry protocol="zookeeper" address="zookeeper://124.221.218.66:2181" />

    <dubbo:reference interface="org.example.api.service.GoodService" id="goodService"
                     version="1.0.0" group="B" timeout="5000" check="false" />

</beans>
